* {
    margin: 0;
    padding: 0;
}

.cover-page {
    background-color: rgba(6, 5, 13, 0.939);
}

.card-container {
    padding: 1%;
    display: flex;
    gap: 20px;
    height: 900px;
    background: rgba(10, 7, 16, 0.826);
    border-radius: 2em;
    scrollbar-width: thin;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Changed from fill to cover */
}

.card {
    padding: 4em;
    width: 340px;
    height: 512px;
    background-color: rgb(26, 25, 29);
    border-radius: 10%;
    margin-top: 20px;
    margin-right: 50px;
    transition: width 0.5s, height 0.5s;
    position: relative;
}

@font-face {
    font-family: "medieval-fantasy"; /* Corrected the typo in the font-family name */
    src: url("./assets/custom-font/theblowarregular-d91mz.woff") format("woff");
}

header {
    font-family: medieval-fantasy;
    color: white;
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.card:hover {
    width: 500px;
    height: 600px;
    background: radial-gradient(blue, rgb(0, 0, 66));
}

/* Styling for the second container */
.second-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    overflow: hidden;
}

main {
    background-color: rgba(6, 5, 13, 0.939);
}

table {
    width: 50%;
    height: 100%;
    color: white;
    padding: 30px;
    border-collapse: collapse;
    font-size: 100px;
    
}

th {
    background-color: grey;
}

th, td, tr {
    border: solid 2px blue;
    padding: 20px;
}