* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.cover-page {
    background-color: rgba(6, 5, 13, 0.939);
}

.card-container {
    padding: 1%;
    display: inline-block;
    overflow-y: scroll;
    gap: 20px;
    height: 900px;
    margin-right: 65%;
    background: rgba(10, 7, 16, 0.826);
    border-radius: 2em;

    /* affecting scroll for firefox*/
    scrollbar-width: thin;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card {
    padding: 4em;
    width: 340px;
    height: 512px;
    background-color: rgb(26, 25, 29);
    border-radius: 10%;
    /*creating an illustion of a gap between cards*/
    margin-top: 20px;
    margin-right: 50px;

    transition: width 0.5s, height 0.5s;
}

@font-face {
    font-family: "medival-fantasy";
    src: url("./assets/custom-font/theblowarregular-d91mz.woff") format("woff");
}

header {
    font-family: medival-fantasy;
    color: white;
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

/* Scroll for Chrome and safari*/

/* WebKit browsers (Chrome and Safari) */
.card-container::-webkit-scrollbar {
    width: 25px;
}

.card-container::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(10, 7, 16, 0.826);
}

.card-container::-webkit-scrollbar-thumb {
    background:rgba(83, 83, 83, 0.582); 
    border-radius: 20px;
}

/*When hovering over the card*/

.card:hover {
    width: 500px;
    height: 600px;
    background: radial-gradient(blue, rgb(0, 0, 66));
}