* {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


.cover-page {
    background-color: rgba(6, 5, 13, 0.939);
    padding: 1%;
}

.card-container {
    padding: 1em;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    height: 100%;
    width: calc(100% - 2em);
    background: rgba(10, 7, 16, 0.826);
    border-radius: 2em;
    scrollbar-width: thin;
    overflow-x: scroll;
    overflow-y: none;
}


img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card {
    padding: 1em;
    width: 190px;
    height: 300px;
    background-color: rgb(26, 25, 29);
    border-radius: 10%;
    margin-top: 20px;
    margin-right: 50px;
    transition: all 0.2s;
    position: relative;

    transition: perspective(500px);
}

.cut-out {
    position: relative;
    bottom: 305px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


.cut-out > img {
    aspect-ratio: 1 / 1;
    opacity: 0;
}

.card:hover {
    width: 196px; height: 350px;
    box-shadow: -1px 20px 100px 1px rgba(0, 171, 20, 0.881);
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.card:hover .cut-out > img {
    transition: opacity 1s ease-in-out;
    position: relative;
    bottom: 100px;
    right: 50px;
    opacity: 100;
    width: 150%;
}

@font-face {
    font-family: "medieval-fantasy";
    src: url("./assets/custom-font/theblowarregular-d91mz.woff") format("woff");
    font-display: swap;
}


header {
    font-family: medieval-fantasy;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
    line-height: 1.5;
}


/* Styling for the second container */
.second-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    overflow: hidden;
}

main {
    background-color: rgba(6, 5, 13, 0.939);
    overflow-y: none;
    overflow-x: none;
}

.table {
    display: flex;
    justify-content: left;
    padding: 1%;
    width: 90%;
    overflow-y: auto;
    height: 50vw;
}

table {
    width: 100%;
    color: white;
    padding: 30px;
    border-collapse: collapse;
    font-size: 2em;
}

.border-left {
    border-top-left-radius: .4em;
}

.border-right {
    border-top-right-radius: .4em;
}

th {
    background-color: grey;
    font-size: .7em;
    text-align: left;
}

td {
    font-size: 0.8rem;
}

th, td, tr {
    border-bottom: solid 2px rgba(94, 94, 94, 0.826);
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, tr {
    width: 200px;
}

tr:nth-child(even) {
    background-color: rgb(26, 21, 21);
}

/*Scroll bar*/
.card-container::-webkit-scrollbar {
    background: none;
}

.card-container::-webkit-scrollbar-track {
    background: rgba(19, 12, 29, 0.802);
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    height: 20px;
}

.card-container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 50px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.table::-webkit-scrollbar {
    width: 10px;
}

.table::-webkit-scrollbar-track {
    background-color: rgba(10, 7, 16, 0.826);
    border-radius: 20px;
}

.table::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: grey;
}

.image img {
    position: relative;
    width: 10%;
    height: 10%;
    opacity: 0;
    border-radius: 10px;
    transition: width 2s height 2s;
}

tr {
    background-color: rgb(47, 46, 51);
    transition: .5s ease;
}

tr:hover {
    background-color: blue;
}

tr:hover .image img{

    width: 300px;
    height: 150px;
    opacity: 100;
    background-color:rgba(11, 13, 19, 0.818);
    object-fit: fill;
    
}















